<a routerLink="/movie/{{movie?.id}}" title="{{ movie?.title }}" class="h-full">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-full">
    <img src="{{urlImg}}{{movie?.poster_path}}" class="poster m-auto">
    <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">{{ movie?.title }}
      </h5>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">{{ movie?.name }}</h5>
    </div>
  </div>
</a>