<nav aria-label="Pagination" class="mt-12">
    <ul class="inline-flex -space-x-px text-base h-10">
      <li>
        <button [ngClass]="{'cursor-not-allowed disabled': currentPage===1}" (click)="pageClicked(currentPage-1)" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</button>
      </li>
      @for (page of pages; track $index) {
        @if($index<10){
          <li >
            <button (click)="pageClicked(page)" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" [ngClass]="{'active': page===currentPage}">{{page}}</button>
          </li>
        }
      }
      <li>
        <a href="javascript:void(0)" (click)="pageClicked(currentPage+1)" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" [ngClass]="{'disabled': currentPage===totalPages}">Next</a>
      </li>
    </ul>
  </nav>