<div class="container mx-auto px-4 py-5">
    <h1 class="text-4xl font-bold mb-5">Movies</h1>
    <div class="grid lg:md:grid-cols-5 sm:grid-cols-2 grid-cols-2 gap-4">
        @for (movie of moviesList; track movie.id) {
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a routerLink="/movie/{{movie.id}}">
                    <img src="{{urlImg}}{{movie.poster_path}}" class="poster m-auto">
                    <div class="p-5">

                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">{{ movie.title }}</h5>
                    </div>
                </a>
            </div>
        }
    </div>
    @if(moviesList.length>0){
        <app-pagination 
            [totalItems]="totalResults" 
            [currentPage]="currentPage" 
            [itemsPerPage]="20"
            [categoryId]="categoryId"
            (OnClick)="changePage($event)"
        ></app-pagination>
    }
</div>