<div class="container mx-auto px-4 py-5 ">
  <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl pb-3">Popular movies</h2>
  <div class="grid lgrid lg:md:grid-cols-8 sm:grid-cols-2 grid-cols-2 gap-4">
    @for (serie of popularMovies; track serie.id) {
      <app-card [movie]="serie" class="h-full"/>      
    }
  </div>
  <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl pb-3 mt-12">Trending now</h2>
  <div class="grid lgrid lg:md:grid-cols-8 sm:grid-cols-2 grid-cols-2 gap-4">
    @for (serie of topTrending; track serie.id) {
      <app-card [movie]="serie" class="h-full"/>
    }
  </div>
</div>


